<!DOCTYPE html>
<body style="padding:20px">
	<table border="2px">
		<thead>
			<tr>
				<th colspan="2">Concelho</th>
				<th colspan="2">Minimo</th>				
				<th colspan="2">Maximo</th>
			</tr>
			
			<tr>
				<th>Numero de Regiao</th>
				<th>Numero de Concelho</th>
				<th>Numero de Doente</th>
				<th>Glicemia</th>
				<th>Numero de Doente</th>
				<th>Glicemia</th>

			</tr>
		</thead>
		<tbody>      
			<tr>
				<td>test</td>
			</tr>
		</tbody>
	</table>
	<form action = '/'>
			<p><input type="submit" value="Pagina Inicial"/></p>
	</form>
	</body>
	</html>
	