<doctype html>
<title>List accounts - Flask</title>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>account_number</th>
          <th>branch_name</th>
          <th>balance</th>
        </tr>
      </thead>
      <tbody>      
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Error: failed to retreive data from database!</p>
  {% endif %}
</body>
</doctype>
